body {
    background-image: url(../imagens/fundo2.jpg);
}

i {
    color: rgb(194, 22, 77);
}

p {
    color: white;
}

h1 {
    color: rgb(194, 22, 77);

}

h2 {
    margin-top: 1rem;
    color: rgb(194, 22, 77);
}



.navbar {
    background-color: rgb(194, 22, 77);
}

.navbar-dark {
    color: rgb(255, 6, 6);
}

.nav-link {

    font-size: 1.5rem;
}

.hero__paragraph {
  font-size: 1.2rem;
}

.card-1 {
    height: 100%;
    padding: 2rem 1rem;
    border-radius: 5px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    transition: .1s all;
    /* background-color: rgb(255, 255, 255); */
}

.card-1__title{
  color: rgb(255, 255, 255);
}

.card-1:hover,
.card-1:focus {
    color: white;
    background: rgb(194, 22, 77);
    border-color: rgb(255, 255, 255);

}

.icone-card{
  color: rgb(255, 255, 255);
}

.gamb {
    margin-left: 35%;
    width: 30%;
}



@media(max-width: 992px) {
    .gamb {
        margin-left: 0%;
        width: 100%;
    }
}

.block-20 {
    --block-text-color: var(--text-primary);
    background: var(--block-background);
    color: var(--block-text-color);
}

.block__header {
    margin-bottom: 4rem;
}

.block__pre-title {
    color: var(--primary);
    font-size: 1rem;
    font-weight: 600;
}

.block__title {
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.4;

}

@media(min-width: 992px) {
    .block__title {
        font-size: 2.5rem;
    }
}

.block__paragraph {
    font-size: 1.2rem;
    line-height: 1.5;
    opacity: .9;
}



.testimonial-card-1 {
    padding: 1.5rem;
    padding-top: 10rem;
    margin-top: 58px;
    margin-bottom: 25px;
    background: white;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    position: relative;
    z-index: 0;
}

.testimonial-card-1__paragraph {
    font-size: 0.9rem;
    opacity: .9;
    line-height: 1.7;
    color: rgb(0, 0, 0);
}

.testimonial-card-1__quote-symbol {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    font-size: 1.3rem;
    border: 2px solid white;
    border-radius: 10rem;
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    margin: auto;
}

.block-20__person {
    text-align: center;
    position: absolute;
    top: -58px;
    left: 0;
    right: 0;
    margin: auto;
}

.block-20__person-avatar {
    padding: 6px;
    width: 116px;
    height: 116px;
    background: white;
    border-radius: 10rem;
    border: solid 2px #eff0f9;
}

.block-20__person-rating {
    font-size: .75rem;
    color: #ffe200;
}

.block-20__person-name {
    font-size: .87rem;
    font-weight: 600;
}

.block-20__person-info {
    font-size: .8rem;
    font-weight: 600;
    opacity: .6;
}

.gamb2 {
    margin-left: 20%;
}

@media(max-width: 992px) {
    .block-20 {
        margin-left: 0%;
    }

}

.block-28 {
    --block-background: white;
    --block-text-color: var(--text-primary);
    background-color: var(--block-background);
    color: var(--block-text-color);
    background-image: linear-gradient(to bottom, #f8f8f8 50%, transparent 0);


}

@media(min-width: 992px) {
    .block-28 {
        background-image: linear-gradient(to right, #f8f8f8 50%, transparent 0);
    }
}

.block-28__content-side,
.block-28__form-side {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.contact-info,
.contact-form {
    width: 90%;
    margin: auto;
}

.contact-info {
    font-size: .9rem;
}

.contact-form__title,
.contact-info__title {
    font-size: 2rem;
    font-weight: 600;
}

.contact-info__paragraph {
    line-height: 1.7;
    opacity: .9;
    color: rgb(0, 0, 0);
}

.contact-info__item {
    color: rgb(0, 0, 0);
}

.contact-info__title-2 {
    font-weight: 600;
}

.contact-info__title-2 .contact-info__item {
    opacity: .9;
}

.contact-form__paragraph {
    font-size: 1rem;
    opacity: .9;
    line-height: 1.7;
    width: 90%;
    color: rgb(0, 0, 0);
}

.zap{
  display: flex;
}

.contact-form__input {
    color: var(--text-primary);
    font-size: .87rem;
    padding: .87rem 1.4rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.01);
    width: 100%;
    margin-bottom: .87rem;
}

textarea.contact-form__input {
    height: 130px;
    resize: none;
}

.contact-form__input:focus {
    border: 1px solid var(--primary);
    outline: none;
    box-shadow: none;
}

.btn--loading {
    opacity: 1;
    cursor: progress;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn--loading::before,
.btn--loading::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.btn--loading::before {
    background: var(--primary);
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.btn--loading::after {
    margin: auto;
    border: 2px solid transparent;
    border-radius: 50%;
    border-top: 2px solid var(--primary-invert);
    width: 1.5rem;
    height: 1.5rem;

}



@media(min-width: 992px) {
    .hero__img-container {
        width: 100%;
    }
}

@media(min-width: 992px) {
    .hero__content {
        width: 100%;
    }
}

a[href="#top"] {
    padding: 10px;
    position: fixed;
    top: 90%;
    right: 40px;
    display: flex;
    font-size: 30px;
}

a[href="#top"]:hover {
    text-decoration: none;
}

@media(max-width: 992px) {
    a[href="#top"] {
        right: 0;
    }
}
